// Colors
$blue: #1c88bf;
$light-blue: #c5e4f3;
// $dark-blue: #364051;
$dark-blue: #0248ff;
$dark-grey: #333;
$grey: #666;
$light-grey: #f7f7f7;
$white: #ffffff;
// Font Sizin
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Font Sizing
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
$font-size-x-small: 1.2rem;
// Spacing
$xs-size: 0.6rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xl-size-pc: 9.8rem;