.header {
  box-shadow: 0 4px 11px rgba(124, 146, 169, 0.5);
  position: relative;
}

.arrow-down {
  animation: animateCaret 0.5s ease-in-out infinite;
  bottom: 20px;
  border: 2px solid $white;
  color: $white;
  display: inline-block;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-animation: animateCaret 2.5s ease-in infinite;
  transition: background 0.2s ease-in;
  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  -ms-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
}

.arrow-down:hover {
  background: $blue;
  border-color: $blue;
  color: white;
  text-decoration: none;
}

@keyframes animateCaret {
  0% {
    opacity: 0;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -5px);
    -webkit-transform: translate(-50%, -5px);
    -moz-transform: translate(-50%, -5px);
    -ms-transform: translate(-50%, -5px);
    -o-transform: translate(-50%, -5px);
  }
}
