.preloader {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
.preloader__loader {
  height: 4rem;
}

.preloader__circle {
  background-color: $dark-blue;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
