// .contain-reg {
//     display: flex;
//     // width: 100%;
//     align-items: center;
//     justify-content: center;
//     align-content: center;
//     margin: $xl-size;
//     @media (max-width: 45rem) {
//         margin-top: 25rem;
//         max-height: 30rem;
//         // padding: $s-size
//     }
// }
.register-container {
    background: rgb(252, 252, 252);
    border-bottom: .6rem solid darken($light-grey, 10%);
    max-width: 100rem;
    width: 50rem; // height: 50rem;
    margin-bottom: $xl-size;
    // padding: $m-size;
    justify-content: space-between;
    @media (max-width: 45rem) {
        margin: 3rem;
        // max-height: 30rem;
    }
    @media(max-height: 640px) {
        margin-top: 15rem
    }
}

.tab {
    align-items: center;
    box-shadow: 2px;
    background: $dark-blue;
    display: flex;
    justify-content: space-between;
    margin-bottom: $l-size;
    @media (max-width: 45rem) {
        margin-bottom: $s-size;
    }
}

.register-form {
    padding: $s-size;
    // margin-bottom: $l-size;
    @media (max-width: 45rem) {
        display: flex;
        flex-direction: column;
        align-content: stretch;
        justify-content: stretch;
    }
}

#input-field {
    height: $l-size;
    margin-bottom: $s-size
}

.error-text {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: $m-size;
}

.input-field {
    align-self: center;
    display: flex;
    justify-self: center;
    margin: 1rem // padding: $s-size
}

.input-field-line {
    display: flex;
    justify-self: center;
    align-self: center;
    // margin: 1rem;
    @media (max-width: 45rem) {
        flex-direction: column;
    }
}

.reg-text-reg {
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: $m-size;
    font-size: $m-size;
    text-decoration: none;
    list-style: none;
    margin-bottom: $l-size;
    &:hover {
        text-decoration: none
    }
}

.sign-in-text-reg {
    font-weight: $m-size;
    font-size: $m-size;
    font-family: Helvetica;
    color: $white;
    // margin-bottom: $m-size;
}

.space {
    margin-top: $l-size;
    margin-bottom: $l-size;
}

.space-between {
    @media (max-width: 45rem) {
        display: none
    }
}