.contain-reg {
    display: flex;
    width: 100%;
    // align-items: center;
    justify-content: center;
    align-content: center;
    margin: $xl-size;
    @media (max-width: 45rem) {
        margin: $l-size;
        padding: $s-size
    }
}

.register-container {
    align-content: center;
    background: rgb(252, 252, 252);
    border-bottom: .6rem solid darken($light-grey, 10%);
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    width: 100%; // height: 50rem;
    // margin-bottom: $xl-size;
    padding: $s-size;
    justify-content: space-between;
    @media (max-width: 45rem) {
        margin-top: 5rem
    }
}

.tab {
    display: flex;
    justify-content: space-between;
    background: $dark-blue;
    // background: #ffd800;
    padding: 1rem;
    align-items: center;
    margin-bottom: $l-size;
    box-shadow: 2px
}

.register-form {
    padding: $s-size;
    // margin-bottom: $l-size;
}

#input-field {
    height: $l-size;
    margin-bottom: $m-size
}

.error-text {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: $m-size;
}

.input-field {
    display: flex;
    align-self: center;
    justify-self: center;
    margin-bottom: $l-size;
    margin: $s-size;
    padding: $s-size
}

.input-field-line {
    display: flex;
    margin-bottom: $l-size;
    justify-content: space-between;
    align-content: flex-start;
    margin: $s-size;
    padding: $s-size;
    margin-top: $s-size;
    @media (max-width: 45rem) {
        flex-direction: column;
    }
}

.reg-text-reg {
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: $m-size;
    font-size: $m-size;
    text-decoration: none;
    list-style: none;
    margin-bottom: $l-size;
    &:hover {
        text-decoration: none
    }
}

.sign-in-text-reg {
    font-weight: $l-size;
    font-size: $l-size;
    font-family: Helvetica;
    color: $white;
    margin-bottom: $m-size;
}