.border {
    @media(min-width: 992px) {
        border: 1px solid $dark-blue!important;
        height: 100%;
        display: grid
    }
}

.con-view {
    display: flex;
    flex-direction: column;
}

.display-name {
    color: #ebdcdc;
    display: flex;
    font-weight: lighter;
    font-size: $l-size;
    justify-content: center;
    line-height: $xl-size;
    margin-bottom: $l-size;
}

.display-items {
    display: flex;
    margin-bottom: $l-size;
    justify-self: space-around;
    font-size: $s-size;
    color: $dark-blue
}

.long-text {
    word-break: break-all
}