.deliver-bg {
  background: #022b69 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 35px #022b69;
  border-radius: 10px;
}

.deliver-wrapper {
  background: #0066f5 0% 0% no-repeat padding-box;
}
.deliver-wrapper h1 {
  font-family: 'Acme', Arial, Helvetica, sans-serif;
}
